.cart-page {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
}

.cart-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.cart-message {
  background-color: #fff9c4;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.cart-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

/* Left Side - Cart Items */
.cart-items {
  width: 70%;
}

.cart-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.cart-item {
  display: flex;
  gap: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 15px;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.cart-item-details {
  flex-grow: 1;
}


.product-name {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.cart-item-row {
  display: flex;
  align-items: center;
  gap: 50px;
}

.cart-item-price,
.cart-item-total {
  font-weight: bold;
}

.cart-item-total::before {
  content: "Total: ";
  font-weight: bold;
}

.quantity-dropdown {
  padding: 4px;
  border: 1px solid #ddd;
  width: 60px;
  font-size: 14px;
  text-align: center;
  margin: 10px;
}

.checkout-button.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}


/* Remove Item Button */


.remove-item {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #ff7d00;
  padding: 8px; /* Increase padding for better clickability */
}

.remove-item:hover {
  color: #e17005;
  transform: scale(1.1); /* Slightly enlarge on hover */
}

/* Additional Comments */
.additional-comments {
  margin-top: 20px;
}

.additional-comments textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  resize: vertical;
}

/* Right Side - Order Summary */
.order-summary {
  width: 30%;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  margin: 3%;
}

.order-summary h3 {
  margin-bottom: 10px;
}

.total-price {
  font-size: 22px;
  font-weight: bold;
}

.checkout-button,
.continue-shopping {
  display: block;
  width: 100%;
  padding: 12px;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  text-decoration: none;
}

.checkout-button {
  background-color: #ffcc00;
  color: black;
  font-weight: bold;
}

.continue-shopping {
  background-color: #006400;
  color: white;
}
//pickup

.pickup-label {
  font-weight: bold;
  margin: 10px 0;
}

.pickup-price {
  color: green;
  font-weight: bold;
}

.pickup-location {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

.pickup-dropdown {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
}
